.form-input-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 30px;

  & label {
    font-size: 20px;
    font-weight: 300;
  }

  & input {
    font-size: 20px;
    width: 55%;
    min-height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;

    border-bottom-color: black;
    border-bottom-width: 1px;

    &:focus-visible {
      outline: none;
    }
  }
}