.page-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-login-container {
    background-color: #d34736;
    background-image: url("src/assets/nuke_ramen.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;

    box-shadow: 10px 10px 10px #0000004b;
    min-height: 50%;
    min-width: 50%;
}

.page-login-form {
    background-color: white;
    width: 55%;
    min-height: 100%;
}